 <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="color-line"></div>
                                <div class="modal-header text-center">
                                    <h4 class="modal-title">{{page_title}}</h4>
                                    <small class="font-bold">{{page_subtitle}}</small>
                                </div>
                                <form method="POST" action="{{dir}}/admin/new_role">
                                <div class="modal-body">
                                	<p>Enter New Role:</p>
                                     <p><input type="text" class="form-control" name="name"></p>
                                     <button type="submit" class="btn btn-primary">Add</button>
                                </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    
                                </div>
                            </form>
                            </div>
                        </div>